.container {
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: antiquewhite;
}

@media screen and (min-width: 768px) {
    .container {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}

.list {
    list-style: none;
}

.cat {
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}