.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appBar {
  height: 5rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.hideScrollbar {
  overflow: scroll; /* Ensure scrolling is still possible */
  scrollbar-width: none; /* Firefox */
}

.hideScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}